{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        }
      }
    ],
    "bluebird"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "latest",
          {
            "modules": false
          }
        ],
        "bluebird"
      ],
      "plugins": [
        "transform-runtime",
        "lodash"
      ]
    }
  },
  "plugins": [
    "transform-runtime",
    "add-module-exports"
  ]
}
