{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        },
        "loose": true
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 4
            },
            "modules": false,
            "loose": true
          }
        ]
      ],
      "plugins": [
        "lodash"
      ]
    }
  },
  "plugins": [
    "add-module-exports"
  ]
}
